body{
    margin: 0px;
    background-image: url("mountains.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

button{
    position: absolute;
    left: 47%;  
    top: 3%;
    border-radius: 10%;
    height: 30px;
    width: 70px;
    text-indent: 4px;
    color: rgb(218, 190, 115);
    background-color: grey;
    border-color: black;
}

.container {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
}