body{
    margin: 0px;
}

.container {
    min-width: 400px;
}

.column{
    display: flex;
    flex-direction: row;
    height: 6.25%;
}

.cell{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width: 6.25%;
}